<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>infini Studio | 映纷创意</title>
        <link rel="stylesheet" type="text/css" href="../css/reset.css">
        <link rel="stylesheet" type="text/css" href="../css/infinistudio.css">
        <link rel="stylesheet" type="text/css" href="../css/assist.css">
        <link rel="stylesheet" type="text/css" href="../css/infinistudio_media.css">
    </head>

    <body>
        <section id="root">
            <header id="header" class="header">
                <section class="header_wrapper">
                    <div class="header_logo_wrapper">
                        <img src="../public/imgs/header_logo.png" alt="header_logo">
                    </div>
                    <ul class="header_nav_wrapper disp_ib">
                        <li class="header_nav_item disp_ib">
                            <a href="#" id="nav_home">HOME</a>
                        </li>
                        <li class="header_nav_item disp_ib">
                            <a href="#" id="nav_work">WORK</a>
                        </li>
                        <li class="header_nav_item disp_ib">
                            <a href="#" id="nav_contact">CONTACT</a>
                        </li>
                        <li class="header_nav_item disp_ib">
                            <a href="#" id="nav_joinus">JOIN US</a>
                        </li>
                    </ul>
                </section>
            </header>
            <section id="content_wrapper">
                <section class="content_banner_wrapper home_destination" id="home">
                    <section class="banner_bg_wrapper">
                        <img src="../public/imgs/banner_bg2.jpg" alt="">
                        <div class="banner_bg_title">今日头条</div>
                        <img id="banner_bg_previous" class="banner_bg_previous pos_abs" src="../public/imgs/banner_bg_previous.png" alt="banner_bg_previous">
                        <img id="banner_bg_next" class="banner_bg_next pos_abs" src="../public/imgs/banner_bg_next.png" alt="banner_bg_next" />
                    </section>
                    <section class="banner_indicator_wrapper">
                        <img src="../public/imgs/banner_indicator.png" alt="banner_indicator">
                    </section>
                </section>
                <section class="content_describtion">
                    Infini Studio (映纷创意)是一家创意机构，专注于动画影像的创意与设计。我们使用设计、绘画、动画、特效及多种创新形式（Motion Graphics），以动态视觉语言对品牌与内容进行创意呈现。并由多名动画导演、设计师、插画师、三维艺术家共同协作完成。
                </section>
                <section class="parner_wrapper">
                    <span class="parner_item"><img src="../public/imgs/1.jpg" alt="1pic"></span>
                    <span class="parner_item"><img src="../public/imgs/2.jpg" alt="2pic"></span>
                    <span class="parner_item"><img src="../public/imgs/3.jpg" alt="3pic"></span>
                    <span class="parner_item"><img src="../public/imgs/4.jpg" alt="4pic"></span>
                    <span class="parner_item"><img src="../public/imgs/5.jpg" alt="5pic"></span>
                    <span class="parner_item"><img src="../public/imgs/6.jpg" alt="6pic"></span>
                    <span class="parner_item"><img src="../public/imgs/7.jpg" alt="7pic"></span>
                    <span class="parner_item"><img src="../public/imgs/8.jpg" alt="8pic"></span>
                    <span class="parner_item"><img src="../public/imgs/9.jpg" alt="9pic"></span>
                    <span class="parner_item"><img src="../public/imgs/10.jpg" alt="10pic"></span>
                    <span class="parner_item"><img src="../public/imgs/11.jpg" alt="11pic"></span>
                    <span class="parner_item"><img src="../public/imgs/12.jpg" alt="12pic"></span>
                    <span class="parner_item"><img src="../public/imgs/13.jpg" alt="13pic"></span>
                    <span class="parner_item"><img src="../public/imgs/14.jpg" alt="14pic"></span>
                </section>
                <section class="content_floatlist_wrapper work_destination" id="work">
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_item_odd first_item">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">阿里巴巴</li>
                                <li class="shadow_title_sub">天猫墨盒3Pro魔力全开</li>
                            </ul>
                        </div>
                        <img src="../public/imgs/item_img_1.jpg" alt="floatlist_item_1">
                        <div class="show_main_title">天猫墨盒3Pro</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_middle_item floatlist_item_even">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">今日头条</li>
                                <li class="shadow_title_sub">今日头条功能片第一弹</li>
                            </ul>
                        </div>
                        <img src="../public/imgs/item_img_2.jpg" alt="floatlist_item_2">
                        <div class="show_main_title">今日头条功能片第一弹</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_item_odd">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">汇通天下G7</li>
                                <li class="shadow_title_sub">汇通天下G7品牌视频</li>
                            </ul>
                        </div>
                        <img src="../public/imgs/item_img_3.jpg" alt="floatlist_item_3">
                        <div class="show_main_title">汇通天下G7</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_item_even">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">链家</li>
                                <li class="shadow_title_sub">链家APP卖房频道2.0动画宣传片</li>
                            </ul>
                        </div>
                        <img src="../public/imgs/item_bg_4_other.jpg" alt="floatlist_item_4">
                        <div class="show_main_title">链家APP卖房频道2.0</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_middle_item floatlist_item_odd">
                        <img src="../public/imgs/item_img_5.jpg" alt="floatlist_item_5">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">echo回声</li>
                                <li class="shadow_title_sub">echo回声嘉年华音乐节</li>
                            </ul>
                        </div>
                        <div class="show_main_title">echo回声嘉年华音乐节</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_item_even">
                        <img src="../public/imgs/item_img_6.jpg" alt="floatlist_item_6">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">淘宝网</li>
                                <li class="shadow_title_sub">聚划算：让消费者对世界负责H5</li>
                            </ul>
                        </div>
                        <div class="show_main_title">聚划算：让消费者对世界负责</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_item_odd">
                        <img src="../public/imgs/item_img_7.jpg" alt="floatlist_item_7">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">网易</li>
                                <li class="shadow_title_sub">网易520游戏礼包H5</li>
                            </ul>
                        </div>
                        <div class="show_main_title">网易520游戏礼包</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_middle_item floatlist_item_even">
                        <img src="../public/imgs/item_img_8.jpg" alt="floatlist_item_8">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">腾讯</li>
                                <li class="shadow_title_sub">腾讯网络媒体峰会——叙述迁移</li>
                            </ul>
                        </div>
                        <div class="show_main_title">腾讯网络媒体峰会</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_item_odd">
                        <img src="../public/imgs/item_img_9.jpg" alt="floatlist_item_9">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">今日头条</li>
                                <li class="shadow_title_sub">今日头条2016：未来媒体峰会</li>
                            </ul>
                        </div>
                        <div class="show_main_title">网易媒体峰会</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_item_even">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">有利网</li>
                                <li class="shadow_title_sub">《有利网》宣传动画</li>
                            </ul>
                        </div>
                        <img src="../public/imgs/item_img_10.jpg" alt="floatlist_item_10">
                        <div class="show_main_title">有利网</div>
                    </a>
                    <a href="#" title="" class="floatlist_item_link floatlist_item floatlist_middle_item floatlist_item_odd">
                        <img src="../public/imgs/item_img_11.jpg" alt="floatlist_item_11">
                        <div class="show_shadow_title pos_abs">
                            <ul>
                                <li class="shadow_title_main">今日头条</li>
                                <li class="shadow_title_sub">今天就看今日头条——影院版</li>
                            </ul>
                        </div>
                        <div class="show_main_title">今天就看今日头条</div>
                    </a>
                </section>
            </section>
            <footer class="footer contact_destination" id="contact">
                <section class="footer_contact_iconlist">
                    <img src="../public/imgs/contact1.jpg" alt="contact1">
                    <img src="../public/imgs/contact2.jpg" alt="contact2">
                    <img src="../public/imgs/contact3.jpg" alt="contact3">
                </section>
                <section class="footer_contact_detail">
                    <img src="../public/imgs/footer_logo.jpg" alt="footer_logo">
                    <p>infini Studio | 映纷创意</p>
                    <p>北京市朝阳北路107号院</p>
                    <p>Email : infinistudio@foxmail.com</p>
                    <p>QQ : 7585917</p>
                    <p>weibo : @InfiniStudio</p>
                </section>
            </footer>
        </section>
    </body>
    <script src="http://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="../js/infinistudio.js" type="text/javascript" charset="utf-8"></script>

</html>
